@page "/"

<PageTitle>Home</PageTitle>

<h3>Інформація про проєкт:</h3>
<ul class="list-group">
  <li class="list-group-item">Обраний патерна проектування: Фасад (Facade)</li>
  <li class="list-group-item">СУБД PostgreSQL та MongoDB</li>
  <li class="list-group-item">Веб-застосунок з використанням ORM (Entity Framework) </li>
  <li class="list-group-item">Використання підходу Code-First, міграції БД, наявність валідації даних</li>
  <li class="list-group-item">Клієнтська частина – Blazor з Razor Pages</li>
  <li class="list-group-item">Реалізація логування</li>
</ul>